@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  min-height: 90vh;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 ;
  margin-bottom: .5rem;
  padding: 0;
  list-style: none;
}

.item{
  font-size: 48px;
  line-height: 52px;

  color: #003333;

  animation-duration: 3s;
  animation-name: fade;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.activate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  width: 40px;
  margin-bottom: 1rem;

  border: none;
  font-size: 0;
  line-height: 0;
}

.input:focus{
  outline: none;
  border-bottom: 2px solid #00CCFF;

  animation-duration: .8s;
  animation-name: nictitation;
  animation-iteration-count: infinite;
}

@keyframes nictitation {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

.black{
  color: #000000;
  opacity: 1;
  transition: opacity .3s linear;
}

.blue {
  color: #00CCFF;
  opacity: 0;
  transition: opacity .3s linear;
}
